[user]
    name = josepcastro
    email = castrosalvadojosep@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[url "https://bitbucket.org/"]
        insteadOf = bb:

[url "https://github.com/"]
        insteadOf = gh:

